.button {
	padding: 20px 28px;
	background: #23262f;
	border: 0px;
	border-radius: 8px;

	font-weight: 600;
	font-size: 20px;
	line-height: 20px;
	color: white;

	&--blure {
		background: rgba(226, 226, 226, 0.4);
		backdrop-filter: blur(30px);
		/* Note: backdrop-filter has minimal browser support */
		border-radius: 10px;
		border: 0px;

		font-size: 20px;
		line-height: 30px;
		letter-spacing: 0.01em;
		transition: all 300ms;

		&:hover {
			background: rgba(226, 226, 226, 0.7);
		}
	}
}
