.nav {
	&__wrap {
		width: 402px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__item {
		transition: all 0.3s;
		&:hover {
			transform: scale(1.05);
		}
	}
	&__link {
		font-weight: 400;
		font-size: 16px;
		line-height: 25px;
		text-align: center;
		color: #ffffff;
		text-decoration: none;

		&--active {
			transition: all 0.3s;
			font-weight: 600;
		}
	}
}
